# Secrets
.env
.env.*
!.env.example

# Node
**/node_modules/
npm-debug.log*

# Dart / Flutter
**/.dart_tool/
**/build/
**/.packages
**/pubspec.lock

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
